
#fox #span1 {
	position:absolute;
	margin-left:200px;
	margin-top:50px;

	}
	#fox #span2 {
	position:absolute;
	margin-left:300px;
	margin-top:50px;

	}
	#fox #span3 {
	position:absolute;
	margin-left:400px;
    margin-top:50px;
	}
	#fox #line1{
		position:absolute;
		width:50px;
		margin-top:80px;
		margin-left:170px;
	}
	#fox #line2{
		position:absolute;
		width:50px;
		margin-top:0px;
		margin-left:150px;
	}
	#fox #line3{
		position:absolute;
		width:50px;
		margin-top:0px;
		margin-left:150px;
	}
	#main2{
		width:800px;
		height:100%;
		display:none;
        margin-left:-50px;
	}
	#main2 li{
     float:left;
     margin-left:80px;
     color:blue;
	}
	#main3{
		width:800px;
		height:100%;
		display:none;
        margin-left:-50px;
	} 
	#main3 li{
     float:left;
     margin-left:80px;
     color:blue;
	}
	#main3 #ul1{
		margin-left:10px;
	}
	#main1{
		width:800px;
		height:100%;
		display:none;
	} 
    section.info-sec{width:800px;margin:0px auto;font-size:14px;margin-top:100px;margin-left:-100px;}
    .info-sec p,.info-sec li{color:#5a5959;margin-bottom:9px;}

    section.info-sec-1{ text-align:center;margin-top:100px;}
    section.info-sec-2{margin-top:150px;}
    section.info-sec-3{margin-top:150px;text-align:center;}
    .info-sec-1 .f22{font-size:22px;}

    .timeline{width:463px;position:relative;}
    .timeline2{margin-left:484px;margin-top:15px;}
    .timeline3{margin-top:-55px;}
    .timeline4{margin-left:484px;margin-top:-55px;}
    .timeline5{margin-top:35px;}
    .timeline6{margin-top:-52px;}
    .timeline8{margin-top:-50px;}
    .timeline .title{position:relative;padding-bottom:12px;background: url(images/img/2019-04-03_202721.png) repeat-x left bottom;}
    .timeline .title img{vertical-align: text-bottom;padding-right:13px;}
    .timeline .title .title-text{
        padding-right: 12px;
        font-size: 36px;
        display: inline-block;
        line-height: 34px;
        color: #7e7e7e;
        height: 36px;
        font-weight: bolder;
    }
    .info-sec-4 .title .title-text{font-size: 27px;}
    .info-sec-4 .timeline2,.info-sec-4 .timeline4{margin-top: 25px;}
    .info-sec-4 .timeline3{margin-top: -2px;}
    .info-sec-4 .timeline5{margin-top: 60px;}
    .info-sec-4 .timeline6{margin-top: 45px;}
    .timeline .title .corner{position:absolute;width:13px;height:9px;bottom:0;}
    .timeline1 .title .corner,.timeline3 .title .corner{right:-12px;background:url('/static/w5/img/website/dotted-left.jpg');}
    .timeline2 .title .corner,.timeline4 .title .corner,.timeline7 .title .corner{left:-13px;background:url('/static/w5/img/website/dotted-right.jpg');}
    .timeline .title .num{font-size:28px;margin-right:20px;color:#7e7e7e;}
    .timeline li{padding-left:20px;}
    .info-sec-4 .timeline li{padding-right: 94px;}

    .tipline{width:3px;position:absolute;top:-93px;}
    .timeline2 .tipline,.timeline4 .tipline,.timeline7 .tipline{left:-13px;}
    {right:-13px;}
    .timeline1 .tipline,.timeline3 .tipline,.timeline5 .tipline{right:-13px;}
    .timeline2 .tipline,.timeline3 .tipline,.timeline4 .tipline{top:-57px;}
    {right:-13px;}
    /*.timeline5 .tipline{top: -142px;}*/
    .tipline:after{content:"";height:13px;width:13px;background:#3988ea;position:absolute;top:-8px;left:-5px;}
    .timeline1 .tipline:after{height:0;width:0;}
    .tipline:after,.radius1000{
        -webkit-border-radius:1000px;
        -moz-border-radius:1000px;
        -o-border-radius:1000px;
        border-radius:1000px;
    }
    .tipline .head{width:13px;height:13px;background:#1e78e7;}
    .tipline .tail{height:97px;background:url(images/img/2019-04-03_203131.png);}
    .timeline1 .tipline .tail,.timeline5 .tipline .tail{height:133px;}

    .members{margin-top:10px;margin-bottom:20px;}
    .members .mr1{margin-right:223px;*margin-left:120px;}
    .members .mr2{margin-right:46px;}
    .members .member.bigger{width:223px;*margin-bottom:70px;}
    .members .member{width:184px;display:inline-block;*display:block;*float:left;}
    .members .photo{width:184px;height:184px;margin-bottom:20px;position:relative;overflow:hidden;/*background:url('/static/w3-img/people.jpg?1398563117') no-repeat;*/}
    .members .member .mltitle{font-size:20px;text-align:center;color:#5B5B5B;line-height:24px;}
    .members .member .msub{font-size:14px;text-align:center;color:#646464;}
    .members .ty{width:223px;height:223px;background:url('/static/w5/img/website/ty.jpg');}
    .members .zxs{width:223px;height:223px;background:url('/static/w5/img/website/zxs.jpg');}
    .members .zjp{width:223px;height:223px;background:url('/static/w5/img/website/zjp.jpg');}
    .members .zsc{background:url('/static/w5/img/website/zsc.jpg');}
    .members .lzw{background:url('/static/w5/img/website/lzw.jpg');}
    .members .lxl{background:url('/static/w5/img/website/lxl.jpg');*margin-left:20px;}
    .members .wl{background:url('/static/w5/img/website/wl.jpg');}

    .members .photo .cover{position:absolute;top:0;left:0;opacity:0.8;display:none;}
    .members .photo.on .cover{top:0px;}

    .timeline7 {
        margin-left: 484px;
        margin-top: -75px;
    }
    .timeline7 .tipline .tail{height: 130px;}
    .timeline3.timeLineNew3 .tipline{
        top: -40px;
    }
    .timeline3.timeLineNew3 .tipline .tail{height: 80px;}
    .timeline5 .tipline{top: -40px;}
    .info-sec-4 .timeline5  .tipline{top: -93px;}

    .timeline9{margin-top:-15px}

    .timeline5 .tipline .tail{height:100px;}
    .tipline {
    width: 3px;
    position: absolute;
    top: -93px;
}