#content{
			width:100%;
			height:100%;
			/*border:1px solid gray;*/
			margin:0 auto;
		}
		#content #ul1{
			width:310px;
			height:22px;
		    margin:0 auto;
		    margin-top:50px;
		}
		#list1{
			width:100px;
			height:20px;
			line-height:20px;
			text-align: center;
			float:left;
			list-style: none;
		}
		#list2{
			width:100px;
			height:20px;
			text-align: center;
			line-height:20px;
			float:left;
			list-style: none;
		}
		#list3{
			width:100px;
			height:20px;
			line-height:20px;
			text-align: center;
			float:left;
			list-style: none;
		}
		#nav1 h2{
			width:100px;
			height:20px;
			margin:0 auto;
			margin-top:50px;
		}
		#nav1 p{
			width:320px;
			height:20px;
			margin:0 auto;
			margin-top:50px;
			text-align: left 		}
		#nav2 p{
			width:800px;
			height:20px;
			margin:0 auto;
			margin-top:50px;
		}
		#nav2{
			width:800px;
			height:100%;
			margin:0 auto;
			display:none;
		}
		#nav3{
			width:800px;
			height:2250px;
			margin:0 auto;
			display:none;
		}
		#nav3 p{
			width:800px;
			height:20px;
			margin:0 auto;
			margin-top:50px;
		}
		#nav2 h2{
			width:100px;
			height:20px;
			margin:0 auto;
			margin-top:50px;

		}
		#nav3 h2{
			width:100px;
			height:20px;
			margin:0 auto;
			margin-top:50px;
		}
		#nav1 li{
			list-style:none;
		}
		#nav1{
			width:800px;
			height:2307;
			margin:0 auto;
			display:block;
		}
		#nav1 li  .line{
	     border-bottom:1px dashed gray;
	     width:200px;
		}
		#nav1 span{
			width:200px;
			height:50px;
			margin:0 auto;
		}