#top{
	width: 100%;
	height: 110px;
	margin: 0 auto;
}
#top img{
	margin-left: 430px;
	margin-top: 25px;
}
#topOne{
	width: 1005px;
	height: 400px;
	margin: 50px auto;
}
#topOne img{
	width: 1045px;
	height: 400px;
}
#bot_box{
	width: 1005px;
	height: 100%;
	margin: -450px auto;
}
#bot_box #releLeft{
	width: 200px;
	height: 100%;
	float: left;
}
#releLeft #l_a{
    width: 200px;
    height: 40px;
    background-color: #1f79e8;
    border-radius: 10px 10px 0 0;
    color: white;
    line-height: 40px;
}
#releLeft #l_a a{
	margin-left: 20px;
	text-decoration: none;
	color: white;
}
#releLeft #l_b{
    width: 200px;
    height: 40px;
    background-color: #1f79e8;
    line-height: 40px;
}
#releLeft #l_b a{
	margin-left: 20px;
	text-decoration: none;
	color: white;
}
#releLeft #l_c{
	width: 200px;
    background-color: #eee;
}
#releLeft #l_c p{
	line-height: 40px;
	margin-left: 20px;
	color: #007aff;
}
#l_last{
	width: 200px;
	height: 155px;
}
#l_last img{
	margin-top: 15px;
	margin-left: 17px;
}
#main img{
	margin-left: 20px;
}
#main span{
	font-weight: bold;
	color: gray;
	margin-left: 20px;
	margin-top: 30px;
	display: inline-block;
}
#main ul li a{
    margin-left: 20px;
    line-height: 25px;
    color: #007aff;
    text-decoration: underline;
}
#right{
	width: 235px;
	height: 100%;
	float: right;
	margin-top: -540px;
}
#bottom{
	margin-top: 650px;
	width: 100%;
	height: 50px;
	text-align: center;
}