#box{
	width: 960px;
	height: 100%;
	margin: -30px auto;
}
#box #change{
	padding: 45px;
}
#box #change li{
	float: left;
	font-size: 17px;
	padding: 12px 0px;
	margin-right: 35px;
}
.active{
	border-bottom: 2px solid #1e78e7;
}
#change_div{
	width: 960px;
	height: 100%;
}
#change_div div{
	width: 960px;
	height: 100%;
	margin-top: 35px;
	display: none;
}
#change_div div img{
	width: 960px;
	height: 255px;
	margin-bottom: 30px;
}
#change_div #same_a{
	font-size: 17px;
	text-decoration: underline;
}